.logo {
    margin-top: 15px;
}
.border.border-grey.rounded-pill.d-flex.justify-content-around1 {
    margin-top: 15px;
    height: 45px;
    padding: 6px;
}
.d-flex.justify-content-around1 {
    margin-top: 20px;
}
.d-flex.flex-row1 figure {
    margin-top: 25px;
    margin-left: 40px;
}
.d-flex.flex-row2 figure {
    margin-top: 25px;
    margin-left: 40px;
}
.navbar.bg-light.fixed-bottom.d-flex.flex-nowrap {
    padding: 10px;
}
@media only screen and (max-width: 979px) {
    .d-flex.justify-content-around1 { /*Header pour le mettre en collone sur plsr lignes avec une marge de 10px*/
        margin: 10px;
        flex-flow: column wrap;
     }
    .logo { /*redimenssion du logo Airbnb*/
        margin-top: 2px;
        height: auto;
        width: 150px;
    }
    .globe {
        width: 30px;
    }
    .border.border-grey.rounded-pill.d-flex.justify-content-around1 { /*encadrer avec le search pour regler la hauteur et le rembourrage*/
        height: 60px;
        padding: 6px;
    }
    .border.border-grey.rounded-pill.d-flex.justify-content-around2 { /*encadrer avec le menu pour regler la hauteur et le rembourrage*/
        width: 70px;
        padding: 6px;
    }
    .d-flex.justify-content-around.text-muted { /*la partie avec les icones*/
        flex-flow: row wrap; /*pour les alligner en plsr ligne*/
        margin: 5px 20px; /*pour mettre une marge haut-bas puis gauche-droite*/
    }
    .d-flex.flex-row1, .d-flex.flex-row2 {
        flex-direction: column;
    }
    .navbar.bg-light.d-flex.flex-nowrap {
        flex-flow:column-reverse wrap;
        padding: 5px;
    }
    
    

}